/* RESET */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f6fc;
    color: #1f2937;
    line-height: 1.5;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    background-color: #ffffff;
    border-bottom: 2px solid #ff7a00;
    padding: 16px 24px;
}

h1 {
    margin: 0;
    color: #ff7a00;
}

/* NAV */
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding: 10px 0 0;
    margin: 0;
}

nav a,
.active {
    text-decoration: none;
    color: #222;
    font-weight: bold;
}

nav a:hover {
    color: #ff7a00;
}

.active {
    color: #ff7a00;
}

/* MAIN */
main {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 24px;
    flex: 1;
}

/* TITULOS */
h2 {
    text-align: center;
    text-transform: uppercase;
}

.hero h2 {
    text-align: left;
    text-transform: none;
}

h3 {
    color: #00bcd4;
}

/* HERO */
.hero {
    background-color: #ffffff;
    border-left: 5px solid #ff7a00;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 16px;
}

/* GRID */
.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 14px;
    margin-bottom: 20px;
}

/* CARDS */
.card {
    background-color: #ffffff;
    padding: 18px;
    border-radius: 8px;
    border-left: 5px solid #00bcd4;
}

/* IMÁGENES */
.card img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

/* IMAGEN PRINCIPAL */
.main-img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* INTEGRANTES */
.integrantes {
    border-left-color: #ff7a00;
    margin-top: 20px;
}

.integrantes a {
    color: #ff7a00;
    text-decoration: none;
}

.integrantes a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 14px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        gap: 8px;
    }

    main {
        padding: 16px;
    }
}
